@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  /* at this stage we create little bump/jump */
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    /* it will make heading look like before animation */
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  /* at this stage we create little bump/jump */
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    /* it will make heading look like before animation */
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    /* it will make heading look like before animation */
    transform: translateY(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* have a look at the body */
  box-sizing: inherit; }

html {
  /* everywhere I changed pixels to rems  */
  /* font-size is in% as to user browser could easily change the font size within his browser (not in pxs!) - 16px = 100% */
  /* 10px/16px = 0.625 => 62.5% */
  font-size: 62.5%; }

body {
  /* better practice to put borderd box value here than in *selector and then give the box-sizing: inherit; to the *selector */
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.heading-primary {
  color: #eee;
  text-transform: uppercase;
  /* in case the animation is shaking at the end - but it was not happening in my browser */
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1.5s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation-name: moveInRight;
    animation-duration: 1.5s;
    animation-timing-function: ease-out; }

.btn:link, .btn:visited {
  font-size: 1.6rem;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  transition: all .2s;
  position: relative; }

.btn:hover {
  /* Y axis moves from the top to bottom so we need negative value */
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  /* this ::after will work only when we hovered over the button */ }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  /* it is in relation to initail link state */
  transform: translateY(-0.1rem);
  /* values of the Y axis and blur are twice smaller then on :hever - from experience it works good */
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #eee;
  color: #777; }
  .btn--white::after {
    background-color: #eee; }

.btn::after {
  /* ::after will work only when you add content prop. and we want it to behave like our button so it has to have display prop. of inline-block */
  /* .btn::after is treated like a child of the .btn */
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  /* to put it behind actual button use absolute positioning and add reference to closest ancestor and add z-index */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  /* applies the 0% animation before it stars - The element will get the style values that is set by the first keyframe (depends on animation-direction), and retain this during the animation-delay period  */
  animation-fill-mode: backwards; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.808), rgba(40, 180, 133, 0.808)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  /* .logo-box is positioned absolutely in relation to his first ancestor with declared position - .header with postion: relative; */
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%); }
  .header__logo-box {
    /* check postion of .header and see comment */
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    /* width is automatically figured out - preferance to control the height of an element */
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    /* top and left specify the distance from the top and left side of the ancestor(parent) and the left corner of a .text-box div is in a center of the browser window (you can add bacgorund-color to see it clearly) */
    /* top: 40% cause it looks better vertically */
    top: 40%;
    left: 50%;
    /* it is postioned in relation to itself */
    transform: translate(-50%, -50%);
    /* this will center the button .btn beacause it is an ilnine-block elemenet whchis is treated like a text */
    text-align: center; }
