@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    /* at this stage we create little bump/jump */
    80% {
        transform: translateX(1rem);
    }
    100% {
        opacity: 1;
        /* it will make heading look like before animation */
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    /* at this stage we create little bump/jump */
    80% {
        transform: translateX(-1rem);
    }
    100% {
        opacity: 1;
        /* it will make heading look like before animation */
        transform: translateX(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(10rem);
    }

    100% {
        opacity: 1;
        /* it will make heading look like before animation */
        transform: translateY(0);
    }
}